@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --amarillo: #FEDB39;
    --celeste: #319DA0;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

body:hover .animated-header{
    transform: scale(1.1);
    transition-duration: 2s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
}

header{
    min-height: 45vh;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
    background-position: 0 -12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1{
    font-size: 7rem;
    color: #fff;
    background-color: rgba(64, 64, 67, 0.3);
}

header nav{
    position: absolute;
    top: 98%;
}

header nav a{
    text-decoration: none;
    color: #fff;
    padding: 0.8rem;
    margin: 0 3rem;
    background-color: var(--celeste);
    color: var(--amarillo);
    font-weight: 500;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem gray;
}

header nav a:hover{
    font-weight: 600;
}

main{
    min-height: 55vh;
    background-image: url(../assets/space.jpeg);
    padding: 8rem 12rem 0;
    color: #fff;
}

main div{
    display: flex;
    position: relative;
}

main div h2{
    width: 100%;
    background-color: var(--amarillo);
    color: #000;
    text-align: right;
    padding-right: 2rem;
}

main img{
    width: 10%;
    position: absolute;
    top: -98%;
    left: 0%;
}

main section{
    padding: 12rem 0 4rem;
    display: flex;
    justify-content: space-between;
}

main section article{
    width: 28%;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem 0;
    background-color: var(--celeste);
    border-radius: 2rem;
    position: relative;
}

main section h2{
    color: var(--amarillo);
}

main section p{
    margin: 1rem 0;
    font-weight: 500;
    text-align: center;
}

main section article:last-of-type{
    margin-right: 2rem;
}

.sp-con-estilos{
    font-size: 1.4rem;
    background-color: #000;
    color: var(--amarillo);
    padding: 0.6rem;
    border: 0.1rem solid var(--amarillo);
    border-radius: 2rem;
    position: absolute;
    top: 94%;
}

/* ##### ABOUT ##### */
.main-about section,
.main-contact section{
    flex-direction: column;
    padding: 4rem 0;
}

.main-about section article{
    width: 75%;
    margin: 2rem auto;
    padding: 1rem;
}

.main-about section article:last-of-type{
    margin: 2rem auto;
}

/* ##### CONTACT ##### */
.main-contact section{
    width: 35%;
    margin: auto;
    border: 0.1rem solid grey;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 6rem;
}

/* ## RULES ## */
.contenedor-rules{
    width: 70%;
    margin: auto;
    display: block;
    padding: 5rem 0;
    text-align: justify;
    list-style-position: inside;
}

.div-titulos{
    text-align: center;
    flex-direction: column;
}

.div-titulos h2{
    background-color: transparent;
    text-align: center;
    margin: 2rem 0 1rem;
    padding-right: 0;
    color: #fff;
}

.contenedor-rules .div-titulos p{
    text-align: center;
    margin-bottom: 0;
}

.div-titulos h2:last-of-type{
    color: var(--amarillo);
    margin-top: 1rem;
}

.contenedor-rules h3{
    width:fit-content;
    margin: 6rem auto 3rem;
    padding: 0.9rem;
    border-radius: 1rem;
    color: var(--amarillo);
    background-color: var(--celeste);
}

.contenedor-rules p{
    text-align: justify;
}

.contenedor-rules p::first-letter{
    margin-left: 3rem;
}

.contenedor-rules li{
    margin-bottom: 3rem;
}

.contenedor-rules li::marker{
    font-weight: 600;
    color: var(--amarillo);
}

.lista-regulations h4,
.lista-regulations p{
    display: inline;
}

.lista-regulations h4{
    color: var(--amarillo);
}

.lista-fields li{
    margin-bottom: 1rem;
    list-style-type: lower-alpha;
}

.lista-fields li::marker{
    color: var(--celeste);
}

.contenedor-rules ul:last-of-type{
    margin-left: 6rem;
}

.lista-allPlay{
    list-style-position: initial;
}


/* ## GAME INFO ## */
.contenedor-gameInfo{
    width: 100%;
    flex-direction: column;
    padding: 5rem 0;
}

.contenedor-gameInfo .div-titulos h2{
    color: #fff;
}

.contenedor-gameInfo .div-titulos p:first-of-type{
    color: var(--amarillo);
}

.contenedor-gameInfo .div-titulos p:last-of-type{
    font-style: italic;
}

.contenedor-gameInfo article{
    width: 100%;
    margin: 4rem 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
}

table{
    width: 65%;
    border-collapse: collapse;
    color: #fff;
    border: 0.2rem solid var(--amarillo);
    border-radius: 0.6rem;
    margin-top: 1rem;
}

th,
td{
    padding: 1.6rem;
    text-align: center;
    border: 0.1rem solid var(--amarillo);
}

th,
.td-fecha{
    background-color: #000;
    font-weight: 600;
}

.info-extra{
    width: 28%;
    flex-direction: column;
    background-color: transparent;
    color: #fff;
}

.info-extra p{
    padding: 1rem;
    text-align: left;
}

.info-extra .sp-games{
    font-weight: 600;
    color: var(--celeste);
    display: block;
    margin-bottom: 1rem;
}

.info-extra a{
    color: #fff;
    text-decoration: none;
}